<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flaskApp</title>
    <link rel="stylesheet" href="/static/main.css">    
</head>
<body>
    <h1>Simple Flask App</h1>
    <div>
       <form action="/process" method="POST">
            <label for="user_input">Enter some text</label><br>
            <input type="text" id="user_input" name="user_input"><br><br>
            <input type="submit" value="submit" id="submit">
        </form> 
    </div>
    <div id="result"></div>
    <script src="/static/index.js"></script>
</body>
</html>

